@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Manrope', sans-serif;
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100vw;
}

header {
  border: none;
  text-align: center;
  background-image: url("images/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130px;
  padding-top: 6vh;
  padding-bottom: 8vh;
}

header h1 {
  font-size: 1.7rem;
  font-weight: 800;
  color: #293356;
}

header p {
  font-size: 0.8rem;
  color: #858fad;
}

main {
  border: none;
  width: 50%;
  margin: auto;
  background-color: white;
  padding-top: 6vh;
  border-radius: 10px;
  box-shadow: 0px 2px 8px grey;
}

main .views {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5vh;
}

main .views p {
  color: #858fad;
  letter-spacing: 0.12rem;
  font-size: 0.9rem;
  font-weight: 800;
}

main .views h1 {
  color: #293356;
  font-size: 2.2rem;
  display: flex;
}

main .views h1 .cost {
  color: #293356;
  font-size: 2.2rem;
}

main .views h1 span {
  color: #858fad;
  font-size: 0.9rem;
  align-self: center;
}

.billing-info {
  margin-top: 5vh;
  border: none;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
}

.billing-info .our-billing {
  font-size: 0.9rem;
  opacity: 0.7;
  align-self: center;
}

.billing-info .container {
  width: 45px;
  height: 25px;
  border-radius: 50px;
  align-self: center;
  margin: 0 25px;
  background-color: #10d5c2;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 3px;
}

.billing-info .container:hover {
  background-color: cyan;
}

.billing-info .container .circle {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  position: relative;
  left: 0%;
}

.billing-info .container .circle-left {
  background-color: white;
  width: 18px;
  height: 18px;
  border-radius: 50px;
  position: relative;
  left: 50%;
}

.billing-info .bills {
  font-size: 0.85rem;
  width: 30%;
  display: flex;
  align-items: center;
}

.billing-info .bills .bill-span {
  font-size: 0.7rem;
  font-weight: 900;
  align-self: center;
  margin-left: 3%;
  padding: 1px 6px;
  border-radius: 5px;
  color: #ff8c66;
  background-color: rgba(205, 215, 238, 0.3);
}

hr {
  margin-top: 6vh;
  margin-bottom: 6vh;
  opacity: 0.3;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6vh;
}

.bottom ul li {
  list-style: none;
  margin-left: 50%;
  width: 100%;
  color: black;
  opacity: 0.7;
  font-size: 0.8rem;
  margin-top: 0.6vh;
}

.bottom ul li img {
  margin-right: 15px;
}

.bottom button {
  margin-right: 12%;
  border: 15px;
  color: white;
  background-color: #293356;
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 1s;
}

.bottom button:hover {
  background-color: rgba(41, 51, 86, 0.9);
  transform: scale(1.2);
}

forms {
  display: flex;
  justify-content: center;
}

input[type=range] {
  width: 73%;
  margin: auto;
  cursor: pointer;
  height: 49px;
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: rgba(133, 143, 173, 0.3);
  border-radius: 8px;
  border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 10px 20px grey;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #858fad;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top 10px left 5px;
}

input[type=range]:focus::-webkit-slider-thumb {
  cursor: -webkit-grabbing;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(133, 143, 173, 0.3);
}

/* Styling for Mozilla */
input[type=range]::-moz-range-track {
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: rgba(133, 143, 173, 0.3);
  border-radius: 8px;
  border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 10px 20px grey;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #858fad;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top 10px left 5px;
}

input[type=range]:focus::-moz-range-thumb {
  cursor: -moz-grabbing;
}

input[type=range]:focus::-moz-range-track {
  background: rgba(133, 143, 173, 0.3);
}

/* Styling for MS Edge */
input[type=range]::-ms-track {
  height: 13px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: rgba(133, 143, 173, 0.3);
  border-radius: 8px;
}

input[type=range]::-ms-fill-lower {
  background: rgba(133, 143, 173, 0.5);
  border-radius: 16px;
  box-shadow: 20px 0px 0px grey;
}

input[type=range]::-ms-fill-upper {
  background: rgba(133, 143, 173, 0.1);
  border-radius: 16px;
  box-shadow: 0px 0px 0px grey;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 10px 20px grey;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #858fad;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top 10px left 5px;
}

input[type=range]:focus::-ms-thumb {
  cursor: grab;
}

input[type=range]:focus::-ms-fill-lower {
  background: rgba(133, 143, 173, 0.5);
}

input[type=range]:focus::-ms-fill-upper {
  background: rgba(133, 143, 173, 0.1);
}
/*# sourceMappingURL=style.css.map */